<!DOCTYPE html>
<html>
  <head>
    <title><%= header %></title>
    <style>
      body {
        padding: 10px;
        font: 12px Helvetica, Arial, sans-serif;
      }
      .error {
          color: red
      }
      .success {
          color: green;
      }
      th {
        text-align: left;
      }
      td {
        text-align: left;
      }
    </style>
  </head>
  <body>
    <h1><%= title %></h1>
